body {
    background-color: rgb(27, 27, 49);
}

img {
    height: 612px;
    width: 100%;
    margin-top: -107px;
}


.imgdiv {
    width: 318px;
    height: 505px;
    border-radius: 143px 145px 0px 0px;
    -webkit-border-radius: 143px 145px 0px 0px;
    -moz-border-radius: 143px 145px 0px 0px;
    background-color: rgba(89, 131, 252, 1);
    background-image: radial-gradient(circle, rgba(89, 131, 252, 1) 44%, rgba(41, 53, 86, 1) 100%);
    margin-bottom: 200px;
}
.aboutmecontainer{
    display: flex;
    gap: 100px;
    color: white;
}


@media (max-width: 1250px){
    .aboutmecontainer{
        flex-direction: column;
        align-items: center;
        flex-basis: 100px;
    }
    .aboutmecontent{
        justify-content: center;
    }

}


